@use './variables.scss';

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_mustang_1{
    display: flex;
    flex-direction: column;
    padding: 0px;
    div{
        @include centrado ();
    }
    article{
        padding-bottom: 50px;
        h2{
            text-align: center;
            font-size: 50px;
            padding: 10px;
        }
        h3{
            text-align: center; 
            padding: 10px; 
        }
        p{
            text-align: center;
            padding: 10px;
        }
        div{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 10px;
            div{
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                img{
                    border-radius: 50%;
                    margin: 15px;
                    &:hover {
                        box-shadow: 0 0 20px 0 variables.$color1;
                    }
                }
                p{
                    margin: 10px;
                    width: 300px;
                    text-align: center;
                }
                .caracteristicas{
                    font-size: 20px;
                }
                h3{
                    color: variables.$color1;
                }
            }
        }
    }
}

.caracteristicas_img{
    width: 200px;
    height: 200px;
}
.section_image{
    width: 100%;
}
.section_logo{
    position: absolute;
    width: 20%;
    margin: 30px;
    right: 5px;
    top: 80px;
}
.article_mustang_2{
    background-color: variables.$color2;
    color: variables.$color3;
    padding-top: 20px;
}
.div_caracteristicas{
    padding-top: 40px;
}
.h2_GT{
    background-color: variables.$color1;
    color: variables.$color3;
}

@media (min-width: 768px) {
    .section_mustang_1{
        article{
            div{
                flex-direction: row;
            }
        }
    }
}