
@use './variables.scss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav */

.navbar-nav{
    align-items: center;
}

.activo{
    color: variables.$color1;
}

/* footer */

.footer1{
    background-color: rgb(40, 40, 40);
    div{
        @include centrado ();
        i{
        font-size: 130%;
        color: #cccc;
        margin: 10px;
        }
    }
}